/* ------------------ */
/* --- structure --- */
/* ---------------- */

body{
background: #0B0C10; /* Change Here */ 
width: 100%;
margin:0;
}

a{
text-decoration: none;
color:#45A29E;
font-weight: 500;
}

.intro a{
text-decoration: none;
color: white;
font-weight: 200;
}

#wrap{
width:1000px;
min-width: 940px;
margin:0px auto;
background: #1f2833; /* Change Here */ 
box-shadow: 0px 0px 18px rgba(0,0,0,.15);
border-top:4px solid #000000;
position: relative;
overflow: hidden;
}

#content{
width: 850px;
margin: 0px auto;
padding: 0px 0px 0px 0px;
}


/* ----------------- */
/* ---- header ---- */
/* --------------- */

#home-header{
margin: 0px 0px;
height: 50px;
padding: 0px 20px 0px 20px;
text-decoration: none;
max-width: 1000px;
}

#header{
margin: 0px 0px;
height: 175px;
padding: 0px 20px 0px 20px;
text-decoration: none;
max-width: 1000px;
}

#lab-logo{
background-image: url('../photos/black-field-LogoV2.png');
height:404px;
margin:0px 10px 0px 100px;
text-decoration: none;
max-width: 800px; 
}

#header-umich-logo{
background-image: url('../photos/Signature-Vertical.png');
height:121px;
width:191px;
margin:10px;
margin-top:25px;
}

#lab-logo-header{
background-image: url('../photos/lab-logo-header-BlackV2.png');
height:150px;
margin: 12.5px auto;
text-decoration: none;
width: 297px;
display:block;
float:left;
}

#nav {
text-align:right;
display:block;
margin:22px auto;
list-style-type: disc;
text-decoration: none;
color: white;
float: right;
padding:0px;
margin-top:43px;
margin-left:-40px;
}

#nav li {
font-family: Helvetica Neue, Helvetica, Sans-serif;
font-size: 18px;
display: inline;
text-decoration: none;
text-align: left;
font-weight: 500;
padding-left: 0;
padding-right: 0;
}

#nav ul li a.active{
color: black; /* Change Here */ 
padding: 6px 8px;
background: #45A29E; /* Change Here */ 
border-radius: 20px;
margin:0px;
}

#nav ul li a{
color: black;
padding: 6px 8px;
background:#C5C6C7; /* Change Here */ 
border-radius: 20px;
}

#nav li a{
color: black;
}


#nav li a:hover, #nav .current li a{
color: #b32017;
text-decoration: none;
-webkit-transition: all .2s;
}

/* ------------------ */
/* ---- content ---- */
/* ---------------- */


p.blurb{
font-family: helvetica neue, helvetica, sans-serif;
font-size:15px;
font-weight: 400;
color:white;
margin: 20px 0px 40px 0px;
}

p.blurb a{
font-family: helvetica neue, helvetica, sans-serif;
font-size:15px;
font-weight: 700;
color:#45A29E;
text-decoration: none;
}

p.blurb a:hover{
color:#02BCBB;
text-decoration: none;
}

.italic{
font-style: italic;
}

.bold{
font-weight: 700;
}

#top-banner{
margin:0px;
height:300px;
}

#top-banner.home{
margin:0px 0px 30px 0px;
height:300px;
background-image: url('../photos/home-banner.png');
max-width: 1000px;
}

#top-banner.people{
margin:0px 0px 80px 0px;
height:485px;
background-image: url('../photos/people-banner-V3.png');
}

#top-banner.research{
margin:0px 0px 80px 0px;
height:300px;
background-image: url('../photos/research-banner-V2.png');
}

#top-banner.publications{
margin:0px 0px 80px 0px;
height:300px;
background-image: url('../photos/publications-banner.png');
}

#top-banner.links{
margin:0px 0px 80px 0px;
height:300px;
background-image: url('../photos/links-banner.png');
}

#top-banner.news{
margin:0px 0px 40px 0px;
height:300px;
background-image: url('../photos/news-banner-V3.png');
}

#top-banner.teaching{
margin:0px;
height:301px;
background-image: url('../photos/teaching-banner-V2.png');
}

#top-banner.join{
margin:0px;
height:300px;
background-image: url('../photos/join-banner.png');
}

.intro{
padding-top:35px;
padding-bottom:15px;
border-bottom:1px solid #dbe5e8;
}

.intro-topic{
padding:20px 0px 20px;
border-top:1px solid #dbe5e8;
margin:auto;
}

.intro-publications{
display: block;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 24px;
font-weight:700;
color:#66FCF1; /* Change Here */ 
text-align:center;
}

.intro-index{
display: block;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 24px;
font-weight:700;
color:#66FCF1; /* Change Here */ 
text-align:center;
}


.intro p, .intro-topic p, .intro-publications p{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size:20px;
text-align: justify;
font-weight:200;
line-height:30px;
color: white;  /* Change Here */ 
margin:0;
padding:0;
}

.intro p a:hover{
color:black; /* Change Here */ 
}

#publications{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 15px;
font-weight:400;
line-height: 16px;
color: white; /* Change Here */ 
margin:0px 0px 75px 0px;
padding:0px;
}

.three-column{
columns:2;
-webkit-columns: 2;
-moz-columns: 2;
height:235px;
margin-bottom:70px;
}

.number{
color: white;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 10px;
font-weight: 700;
background: #02BCBB;
padding: 3px 6px;
border-radius: 10px;
margin-top: 0px;
vertical-align: top;
margin-right: 6px;
}

#lower{
margin-top:50px;
}

#lower-left{
display: inline-block;
width:300px;
vertical-align: top;
}

#lower-left.people{
display: inline-block;
width:215px;
vertical-align: top;
}

#lower-right{
display: inline-block;
width:530px;
vertical-align: top;
}

#lower-right.people{
display: inline-block;
width:615px;
vertical-align: top;
margin-bottom:50px;
}

#lower-right.people-previous{
display: inline-block;
width:615px;
vertical-align: top;
font-size: 16px;
margin-bottom:10px;
}

#lower-right.people-previous:last-of-type{
margin-bottom:50px;
}

#lower-right.people-previous .lower-head,
#lower-right.people-previous .title{
font-size:18px;
}

#photo-round.home{
width:235px;
height:235px;
border-radius: 235px;
background-image: url('../photos/round-home.png');
display: inline-block;
margin-left:36.2%;
margin-bottom: 25px;
margin-top: 0px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
align: center;
}

/* Personnel */

#photo-round.shelly{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/shellyV2.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.rebeca{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/rebeca.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.marin{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/marin.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.paolo{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/paolo.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.stephen{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/stephen.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.lauren{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/lauren.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.vicky{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/vicky.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.betul{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/betul.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.kurt{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/kurt.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.katie{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/katie.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.brittany{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/brittany.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.amanda{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/amanda.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.annie{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/annie.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.tessa{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/tessa.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.salima{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/salima.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.ignacio{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/ignacio.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.zachary{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/zachary.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.allison{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/allison.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.eman{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/eman.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.krittika{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/krittika.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.julia{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/julia.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.aidan{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/aidan.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.matea{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/matea.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.aram{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/aram.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.alesa{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/alesa.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.josh{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/josh.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.rifka{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/rifka.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.vetalise{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/vetalise.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.sofia{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/sofia.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.kanav{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/kanav.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.arya{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/arya.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.erin{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/erin.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.jason{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/jason.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.layne{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/layne.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.roshini{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/roshini.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.zhongyan{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/zhongyan.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.yiqui{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/yiqui.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.sewit{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/sewit.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.catherine{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/catherine.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}


#photo-round.maurice{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/maurice.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.micheal{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/Micheal.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.jasmine{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/Jasmine.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.Hannah{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/Hannah.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.Alexandra{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/Alexandra.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 90px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

/* End Personel */
/* Start: Other headers and images */
#photo-round.research-1{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/research-1.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 150px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.research-2{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/research-2.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 200px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.research-3{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/research-3.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 120px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.research-4{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/research-4.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.research-5{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/research-5.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.news{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/news.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 70px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.collaborators{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/round-collaborators.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 70px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.science{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/science.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.michigan{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/michigan.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 150px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.organizations{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/organizations.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.funding{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/funding.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.psych-230{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/psych-230.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 180px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.psych-326{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/psych-326.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 120px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.psych-437{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/psych-437.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 150px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.neuro-615{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/neuro-615.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 150px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.brainsrule{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/brainsrule.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.backyard{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/backyard.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.psych-437b{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/psych-437.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.psych-436{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/psych-436.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 180px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.postdoc{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/postdoc.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 200px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.grad{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/grad.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 100px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#photo-round.undergrad{
width:150px;
height:150px;
border-radius: 150px;
background-image: url('../photos/undergrad.png');
background-position: center;
display: inline-block;
margin-right:65px;
margin-bottom: 200px;
padding: 0;
box-shadow: inset 1px 1px 12px rgba(0,0,0,.4);
}

#new-awards{
background-image: url('../photos/BK-LB-MISFN-awards.png');
height:326px;
margin: 12.5px auto;
text-decoration: none;
width: 830px;
display: block;
margin-left: auto;
margin-right: auto;
}

.lower-head{
display: block;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 20px;
font-weight:700;
color:#66FCF1;
}

.lower-head-loose{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 20px;
font-weight:700px;
color:#66FCF1;
margin-bottom:10px;
}

.title{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 20px;
font-weight:400;
color:#66FCF1;
margin-left:10px;
}

.lower-text{
display: inline-block;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 16px;
font-weight:400;
line-height: 20px;
color: white;
}

.lower-news-text{
display: inline-block;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 16px;
font-weight:200;
line-height: 25px;
color: white;
padding-bottom: 40px;
}

.news-header{
display: block;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 24px;
font-weight:700;
color:#66FCF1;
text-align:center;
}

#list-left{
display: inline-block;
vertical-align: top;
width:400px;
margin-right:15px;
margin-bottom:45px;
}

#list-right{
display: inline-block;
vertical-align: top;
width:400px;
margin-left:15px;
}


#contact p{
display: inline-block;
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 13px;
font-weight:400;
line-height: 20px;
color: white;
margin-bottom:65px;
margin-top:0px;
}

#contact{
margin:0px;
}


p.tight{
margin:5px 0px;
}

.lower-text a:hover, #contact a:hover{
color: #02BCBB;
}

h3{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 16px;
font-weight:700;
color:#66FCF1;
margin: 0px;
padding:0px;
}

.three-column ul{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 11px;
font-weight:400;
line-height: 18px;
color: #222;
margin:0px 0px 10px 0px;
padding:0px;
}

.three-column ul li a{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 11px;
font-weight:700;
line-height: 18px;
color: #222;

}


/* ----------------- */
/* ---- footer ---- */
/* --------------- */


#footer{
width: 100%;
background: #000000 ;
margin: 0;
padding: 0;
max-width: 1000px;
height: 170px;
}

#footer-left{
display: inline-block;
vertical-align: top;
width:333px;
margin:0px;
}

#footer-right{
display: inline-block;
vertical-align: top;
width:333px;
float:right;
}

#footer-center{
display: inline-block;
vertical-align: top;
width:333px;
height:150px;
}

#footer p{
font-family: Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
font-weight: 400;
color: white;
width: 330px;
clear: left;
margin: 50px 0px 0px 20px;
line-height: 16px;
height:160px;
text-align:left;
}

#footer a{
color:white;
font-weight: 700;
}

#footer ul{
margin:0;
padding:0;
}

#footer-content{
margin: 0px auto;
padding: 30px 50px 30px 50px;
text-decoration: none;
max-width: 1000px;
height: 121px;
}

#footer-logo{
background-image: url('../photos/logo-footer.png');
height: 14px;
width: 146px;
margin: 0px;
}

#umich-logo{
background-image: url('../photos/UMresize.png');
height:121px;
width:193px;
margin:35px 10px 10px 100px;
}

#lab-logo-footer{
background-image: url('../photos/lab-logo-header-BlackV2.png');
height:150px;
width: 297px;
float:right;
margin:10px;
}

#social{
float:right;
margin: 12px 0px 0px 0px;
padding: 0;
background: #02bcbb;
}

#social li{
font-family: Helvetica Neue, Helvetica, Sans-serif;
font-size: 11px;
display: inline;
text-decoration: none;
color: #bfbfbf;
text-align: right;
font-weight: 600;
margin-left:15px;
}

#social li a{
color: #bfbfbf;
}

#social li a:hover{
color: #00a8ff;
text-decoration: none;
-webkit-transition: all .2s;
}